
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-image: url(img/img1/background.jpg) ;
  font-family: "Arial";
  overflow-y:hidden;
}

.container {
  position: relative;
  height: 98%;
  min-height: 500px;
  padding-bottom: 20px;
}

.welcomepage{
  position:fixed;
  height:100%;
  width:100%;
  background-image: url(img/img1/background.jpg) ;
  z-index:999998;
  font-size:96px;
  text-shadow: 0px 2px 1px white;
  text-align: center;
  color:#0000ff;
  font-style: bold;
}

@-webkit-keyframes redPulse {
  from { background-color: #DC381F; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #E41B17; -webkit-box-shadow: 0 0 18px #91bd09; }
  to { background-color: #F62817; -webkit-box-shadow: 0 0 9px #333; }
}

.welcomepage .newgame{
  font-family: "Arial";
  padding: 50px 40px;
  display: block;
  left:25%;
  font-size: 60px;
  border: none;
  -webkit-animation-name: redPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  border: 1px solid #222;
  border-radius: 6%;
  color: white;
  text-shadow: 0px 1px 0 black;
  cursor: pointer;
  box-shadow:0 3px 3px black;
  position:absolute;
}
.welcomepage .newgame:hover {
  background: -webkit-linear-gradient(#222, black);
  background: linear-gradient(#222, black);
}

@-webkit-keyframes greenPulse {
  from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
  to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
}
.welcomepage .about{
  font-family: "Arial";
  padding: 50px 50px;
  display: block;
  font-size: 60px;
  border: none;
  right:23%;
  -webkit-animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  border: 1px solid #222;
  border-radius: 6%;
  color: white;
  text-shadow: 0px 1px 0 black;
  cursor: pointer;
  box-shadow:0 3px 3px black;
  position:absolute;
}
.welcomepage .about:hover {
  background: -webkit-linear-gradient(#222, black);
  background: linear-gradient(#222, black);
}
.game {
  height: 98%;
  width:75%;
}

.left-container{
  position: fixed;
  left:78%;
  bottom:2%;
  width:25%;
  height:98%;
  font-size:25px;
  font-family:"Arial Black";
  z-index:15;
  display:block;
  background-color: rgba(255,255,255,0.1);
  color:rgb(255,255,0);
  text-shadow:1px 1px 1px #000000;
  z-index:9999;
}

.timer{
  font-size:72px;
  text-align:center;
  background-color: rgba(255,255,255,0.5);
  border-radius: 5%;
  box-shadow: 3px 2px 2px rgb(255,183,0,0.5);
  color:rgb(255,0,0);
  text-shadow:1px 1px 1px #000000;
}

.score{
  font-size:72px;
  text-align:center;
  background-color: rgba(255,255,255,0.5);
  border-radius: 5%;
  box-shadow: 3px 2px 2px rgb(255,183,0,0.5);
  color:rgb(255,0,0);
  text-shadow:1px 1px 1px #000000;
}

.stage{
  font-size:72px;
  text-align:center;
  background-color: rgba(255,255,255,0.5);
  border-radius: 5%;
  box-shadow: 3px 2px 2px rgb(255,183,0,0.5);
  color:rgb(255,0,0);
  text-shadow:1px 1px 1px #000000;
}

.tile {
  float: left;
  width: 12.5%;
  height: 12.5%;
  padding: 5px;
  text-align: center;
  display: block;
  position: relative;
  cursor: pointer;
  z-index: 50;
}

.tile .inside {
  width: 100%;
  height: 100%;
  display: block;
  -webkit-transition: .4s ease-in-out;
          transition: .4s ease-in-out;
  border-radius: 3%;
}

.tile:hover{
  background-color:rgba(255,0,0,0.3);
}

.tile .inside.picked{
  background:rgba(255,255,0,0.3);
  z-index:6;
}

.tile .inside.matched{
  background:rgba(0,255,0,0.3);
}

.tile .inside.matched:hover{
  background(0,0,0,1);
}

.tile img{
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-height: 100%;
  border-radius: 5px;
  box-shadow:3px -2px 4px rgba(0,255,0,1);

}

.overlay {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 98%;
  display:none;
  z-index:1000;
}

.modal {
  position: relative;
  width: 50%;
  height: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.8);
  top: 25%;
  display:none;
  border-radius: 5%;
  z-index:1003;
}
.modal .winner {
  font-size: 48px;
  text-align: center;
  font-family: "Arial";
  color: #4d4d4d;
}

.modal .restart {
  font-family: "Arial";
  position:center;
  margin-top:10%;
  margin-left:32%;
  padding: 20px 30px;
  display: block;
  font-size: 30px;
  border: none;
  background: rgb(255,0,0);
  border: 1px solid #222;
  border-radius: 6%;
  color: white;
  text-shadow: 0px 1px 0 black;
  cursor: pointer;
  box-shadow:0 3px 3px black;
}
.modal .restart:hover {
  background: -webkit-linear-gradient(#222, black);
  background: linear-gradient(#222, black);
}

.over {
  position: relative;
  width: 50%;
  height: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.8);
  top: 25%;
  display:none;
  border-radius: 5%;
  z-index:1001;
}
.over .lose {
  font-size: 48px;
  text-align: center;
  font-family: "Arial";
  color: #4d4d4d;
}

.over .restart2 {
  font-family: "Arial";
  margin-left:32%;
  margin-top:10%;
  padding: 20px 30px;
  display: block;
  font-size: 30px;
  border: none;
  background: rgb(255,0,0);
  border: 1px solid #222;
  border-radius: 6%;
  color: white;
  text-shadow: 0px 1px 0 black;
  cursor: pointer;
  box-shadow:0 3px 3px black;
  position:center;
}
.over .restart2:hover {
  background: -webkit-linear-gradient(#222, black);
  background: linear-gradient(#222, black);
}



.AboutText{
  position: fixed;
  width: 70%;
  height: 60%;
  margin: 0 auto;
  background: rgba(255,255,255,0.8);
  top: 15%;
  left:15%;
  display:none;
  border-radius: 5%;
  font-size: 28px;
  text-align: center;
  font-family: "Arial";
  color: #4d4d4d;
  z-index:9999999;
  box-shadow: 3px 2px 2px rgb(255,183,0,0.5);
}


footer {
  position: absolute;
  width: 100%;
  background-color:rgba(224,181,81,0.5);
  z-index:99999;
}
footer .claimer {
  font-size:22px;
  color: #fff;
  text-align: right;
}

